.dialogs {
  &__item {
    color: black;
    $item: &;
    &--selected {
      background-color: #1890ff;
      color: #fff;
    }

    display: flex;
    &-avatar {
      position: relative;
      display: block;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
    &--online {
      #{$item}-avatar {
        &::before {
          content: '';
          position: absolute;
          width: 13px;
          height: 13px;
          background: #00c980;
          border-radius: 10px;
          right: 0;
          bottom: 0;
          border: 2px solid #fff;
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      &-top {
        margin-bottom: 6px;
        display: flex;
        b {
          flex: 1;
          font-weight: 500;
          font-size: 14px;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        &-count {
          bottom: 0;
          position: absolute;
          right: 0;
          width: 20px;
          background: #f46b6b;
          height: 18px;
          color: #fff;
          text-align: center;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;
          box-shadow: 0 0 0 3px #fff;
          border-radius: 30px;
        }
        .message__readedImg {
          left: auto;
          right: 0;
          bottom: 0;
        }
        .message__noreadedImg {
          left: auto;
          right: 0;
          bottom: 0;
        }
        p {
          opacity: 0.7;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 210px;
          white-space: nowrap;
        }
      }
    }
  }
}
