.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  &--symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    line-height: 32px;
  }
}
